{% extends "base.html" %}
{% load staticfiles template_dict %}
{% block content %}
    <div id="container" style="min-width: 100%; height: 800px; margin: 0 auto"></div>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/slimmermeten.css" %}" />
{% endblock %}
{% block js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type='text/javascript'>
$(document).ready(function(){

        $('#container').highcharts({
            type: 'pie',
            chart: {
                zoomType: 'x'
            },
            title: {
                text: '{{graph_title}}',
                x: -20 //center
            },
            xAxis: {
                categories: [{% for h in labels %}"{{h}}",{% endfor%}],
                labels: {
                    rotation: 90
                    {% if labels|length > 100 %}
                    ,step: 10,
                    {%endif%}
                }
            },
            yAxis: {
                title: {
                    text: '{{yaxis_label}}'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            events: {
                drilldown: function (e) {
                    console.log("Hallo");
                },
            },
            tooltip: {
                valueSuffix: ' {{value_suffix}}'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [
             {% for date, values in series %}
                    {
                    name: "{{date}}",
                    data: {{values}}
                    },
            {% endfor %}
            ]

        });
});
</script>
{% endblock %}