{% extends "base.html" %}
{% load staticfiles template_dict %}
{% block css %}
<script src="{% static "js/libs/Chart.min.js" %}">
</script>
{% endblock %}

{% block content %}
<canvas id="myChart" width="1024" height="960"></canvas>
{% endblock %}


{% block js %}
<script>
var data = {
    labels : {{hours}},
    datasets : [
    {% for date, values in days.items %}
        {
            fillColor : "{{colors|get_item:date}}",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            data : {{values}}
        },
    {% endfor %}
    ]
};
var ctx = $("#myChart").get(0).getContext("2d");
options = {     
    scaleLabel : "<%=value%> Watt",
}

new Chart(ctx).Line(data, options);
</script>
{% endblock %}